*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/code
/nvboard
/am-kernels

!/fpga

# Ignore monorepo directories
ysyxSoC
yosys-sta
rt-thread-am