*.*
*
.DS_Store
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/nsim/*
!/rtl_*/*
!/docs/*
!/linux/*
!Makefile
!README.md
!.gitignore
!init.sh
!setup.sh
!env.sh
!/.github/*
!/.github/*/*
!/.github/*/*/*
!Dockerfile
!*.v
!*.vh
!*.sv
!*.svh
/rtl_*/generated
code
build
reference

!/fpga

/third_party
