CONFIG_ISA_riscv=y
CONFIG_RV64=y
CONFIG_RV_F=y
CONFIG_RV_D=y
CONFIG_RV_SVADE=y
CONFIG_TARGET_NATIVE_ELF=y
# CONFIG_DEBUG is not set
# CONFIG_TRACE is not set
# CONFIG_DIFFTEST is not set
CONFIG_ROM=y
CONFIG_ROM_DTB=y
CONFIG_ROM_DTB_PATH="./src/memory/rom/spike-rv64gc-nemu.dtb"
CONFIG_MBASE=0x80000000
CONFIG_MSIZE=0x10000000
CONFIG_PMEM_GARRAY=y
CONFIG_DEVICE=y
CONFIG_HAS_SERIAL=y
CONFIG_SERIAL_INPUT_FIFO=y
CONFIG_SERIAL_MMIO=0x000003f8
CONFIG_SERIAL_MMIO_US16550=0x10000000
CONFIG_HAS_TIMER=y
CONFIG_RTC_MMIO=0x00000048
CONFIG_RTC_MMIO_CLINT=0x02000000
CONFIG_PLIC_MMIO=0x0c000000
CONFIG_HAS_FINISHER=y
CONFIG_FINISHER_MMIO=0x00100000
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
CONFIG_HAS_NET=y
CONFIG_NET_MMIO=0x10002000
CONFIG_NET_PLIC_IRQ=2
CONFIG_HAS_RNG=y
CONFIG_RNG_MMIO=0x10003000
CONFIG_RNG_PLIC_IRQ=3
# CONFIG_HAS_SDCARD is not set
CONFIG_TIMER_CYCLE=y
CONFIG_RT_CHECK=y
