# Deny all, whitelist sources
*
!*/

# Source & config files
!Makefile
!Kconfig
!README.md
!.gitignore
!*.[cSh]
!*.cc
!*.mk
!/sim/*

# Build artifacts (Kconfig generated)
include/config
include/generated
