# ---- Whitelist: Chisel/Scala sources ----
!*.scala
!build.sbt
!build.sc
!.scalafmt.conf

# ---- SBT build artifacts ----
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.history
.lib/
.bsp
dist/

# ---- Test output ----
test_run_dir/

# ---- IDE ----
.idea/
*.iml
.scala_dependencies
.worksheet

# ---- OS artifacts ----
.DS_Store


