# ---- Whitelist sources ----
!/src/*.v
!/src/gowin_rpll/*
!/app/*
!*.cc
!*.py
!*.cst
!*.gprj
!*.md
!*.lushay.json

# ---- Build artifacts ----
/impl/
/build/
ysyx.v
rapt.v
*.vcd
*.gprj.user
*.log
*.gtkw
*.svh

# ---- Python cache ----
/.mypy_cache/
/__pycache__/
