# OpenOCD remote-bitbang connection to the implemented simulator bridge.
# Override RAPT_JTAG_PORT/RAPT_GDB_PORT with -c before loading this file.
adapter driver remote_bitbang
remote_bitbang host 127.0.0.1
if {![info exists RAPT_JTAG_PORT]} { set RAPT_JTAG_PORT 9824 }
if {![info exists RAPT_GDB_PORT]} { set RAPT_GDB_PORT 3333 }
remote_bitbang port $RAPT_JTAG_PORT
gdb port $RAPT_GDB_PORT
tcl port disabled
telnet port disabled

# RISC-V TAP. IDCODE matches rapt_dtm:RAPT_DTM_IDCODE = 0x10001913.
# IR length = 5 (Debug Spec). IDCODE/DTMCS/DMI/BYPASS = 0x01/0x10/0x11/0x1F.
set _CHIPNAME raptor
jtag newtap $_CHIPNAME tap -irlen 5 -expected-id 0x10001913

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.tap

# Speed is irrelevant for remote_bitbang but OpenOCD insists on a value.
adapter speed 1000

init
halt
