!/riscof/raptor-rv32imac/
!/riscof/raptor-rv64imac/
!/scripts/*
!*.yaml
!*.json
!*.ld
!*.sh
!*.py
!*.h
!*.c
!*.ini

__pycache__/
build/
riscv-arch-test/
riscof/riscv-arch-test/
riscv-dv/
obj_diff
obj_*
*.dat
*.log
*.elf
*.bin
*.o
*.out
