menu "Memory Configuration"

config ROM
  bool "Enable ROM"
  default y
  help
    Enable ROM for the system. This is used for storing the bootloader
    and other system firmware.

config ROM_DTB
  bool "Enable ROM DTB"
  depends on !TARGET_AM
  depends on ROM
  default n
  help
    Enable ROM DTB for the system. This is used for storing the device
    tree blob.

config ROM_DTB_PATH
  string "Path to ROM DTB"
  depends on ROM_DTB
  default "./src/memory/rom/spike-rv32ima.dtb"
  help
    Specify the path to the device tree blob file.

config MBASE
  hex "Memory base address"
  default 0x0        if ISA_x86
  default 0x80000000

config MSIZE
  hex "Memory size"
  default 0x8000000

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0x100000 if ISA_x86
  default 0

config MTRACE
  bool "Enable memory tracer"
  default n

choice
  prompt "Physical memory definition"
  default PMEM_GARRAY
config PMEM_MALLOC
  bool "Using malloc()"
config PMEM_GARRAY
  depends on !TARGET_AM
  bool "Using global array"
endchoice

config MEM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST && !TARGET_AM
  bool "Initialize the memory with random values"
  default n
  help
    This may help to find undefined behaviors.

endmenu #MEMORY
