# Deny all, whitelist sources
*
!*/

# Source & config files
!Makefile
!Kconfig
!README.md
!.gitignore
!*.[cSh]
!*.cc
!*.cpp
!*.mk
!configs/*
!scripts/*.sh
!*.sv
!gsim/*.json

# Build artifacts
build/
tmp/
/obj_dir
/include/config
/include/generated
