mainmenu "NPC Configuration Menu"

choice
  prompt "Optimization Level"
  default CC_O2
config CC_O0
  bool "O0"
config CC_O1
  bool "O1"
config CC_O2
  bool "O2"
config CC_O3
  bool "O3"
endchoice

config CC_OPT
  string
  default "-O0" if CC_O0
  default "-O1" if CC_O1
  default "-O2" if CC_O2
  default "-O3" if CC_O3
  default "none"

menu "Testing and Debugging"

config WTRACE
  bool "Enable wave tracer"
  default n

config ITRACE
  bool "Enable instruction tracer"
  default y

config DIFFTEST
    bool "Enable differential testing"
    default y
    help
      Enable differential testing with a reference design.
      Note that this will significantly reduce the performance of NPC.

config MEM_DIFFTEST
    bool "Enable memory differential testing"
    default n
    depends on DIFFTEST
    help
      Enable memory differential testing with a reference design.
      Note that this will significantly reduce the performance of NPC.

endmenu
