name: build & eval

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  ppa-npc-eval:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build . --file Dockerfile --tag sta:latest --build-arg CACHEBUST=$(date +%s)
      - name: Show microbench riscv32-npc payload result (IPC, Mark)
        run: docker run --rm sta:latest bash -c "make o2_defconfig && make -C /workspaces/raptor-chip/am-kernels/benchmarks/microbench ARCH=riscv32-npc run mainargs="test" ARGS="-b -n""
      - name: Show microbench riscv32e-npc payload result (IPC, Mark)
        run: docker run --rm sta:latest bash -c "make o2_defconfig && make -C /workspaces/raptor-chip/am-kernels/benchmarks/microbench ARCH=riscv32e-npc run mainargs="test" ARGS="-b -n""
      - name: Show coremark riscv32-npc payload result (IPC, Mark)
        run: docker run --rm sta:latest bash -c "make o2_defconfig && make -C /workspaces/raptor-chip/am-kernels/benchmarks/coremark_eembc ARCH=riscv32-npc run mainargs="test" ARGS="-b -n""
      - name: Show coremark riscv32e-npc payload result (IPC, Mark)
        run: docker run --rm sta:latest bash -c "make o2_defconfig && make -C /workspaces/raptor-chip/am-kernels/benchmarks/coremark_eembc ARCH=riscv32e-npc run mainargs="test" ARGS="-b -n""
      - name: Show RISC-V Architecture Test result riscv32-npc
        run: docker run --rm sta:latest bash -c "make o2_defconfig && make -C /workspaces/raptor-chip/riscv-arch-test-am ARCH=riscv32-npc run ARGS="-b -n""
      - name: Show RISC-V Architecture Test result riscv32e-npc
        run: docker run --rm sta:latest bash -c "make o2_defconfig && make -C /workspaces/raptor-chip/riscv-arch-test-am ARCH=riscv32e-npc run ARGS="-b -n""
      - name: Show STA result (Power, Frequency, Area)
        run: docker run --rm sta:latest bash -c "make sta_local 2>&1 > log.txt && make sta_local"
      - name: Clean up
        run: docker rmi sta:latest

  linux-npc-test:
    runs-on: ubuntu-latest
    env:
      YSYX_HOME: ${{ github.workspace  }}
      NEMU_HOME: ${{ github.workspace  }}/nemu
      AM_HOME: ${{ github.workspace  }}/abstract-machine
      CROSS_COMPILE: riscv64-elf-
    steps:
      - uses: actions/checkout@v4
      - name: Setup envirement
        run: ./setup.sh
      - name: Build SoC
        shell: bash -l {0}
        run: make -C nsim o2linux_defconfig && make -C nsim -j`nproc`
      - name: Get Linux binary (OpenSBI)
        shell: bash -l {0}
        run: wget https://github.com/user-attachments/files/23468431/linux-6.12.57.zip && unzip linux-6.12.57.zip
      - name: Boot Linux
        shell: bash -l {0}
        run: timeout 2700s make -C nsim run IMG=../linux-6.12.57/fw_payload.bin ARGS="-b -n" || true

  ysyxsoc-test:
    runs-on: ubuntu-latest
    env:
      YSYX_HOME: ${{ github.workspace  }}
      NEMU_HOME: ${{ github.workspace  }}/nemu
      AM_HOME: ${{ github.workspace  }}/abstract-machine
      CROSS_COMPILE: riscv64-elf-
    steps:
      - uses: actions/checkout@v4
      - name: Setup envirement
        run: ./setup.sh
      - name: Generate SoC
        shell: bash -l {0}
        run: make -C ./third_party/kingfish404/ysyxSoC/ dev-init verilog
      - name: Build SoC
        shell: bash -l {0}
        run: make -C nsim o2soc_defconfig && make -C nsim -j`nproc`
      - name: Build NEMU-Ref
        shell: bash -l {0}
        run: make -C $NEMU_HOME riscv32_ref_defconfig && make -C $NEMU_HOME
      - name: Show microbench riscv32-ysyxsoc payload result
        shell: bash -l {0}
        run: make -C $YSYX_HOME/am-kernels/benchmarks/microbench ARCH=riscv32-ysyxsoc run mainargs="test" ARGS="-b -n"
      - name: Show microbench riscv32e-ysyxsoc payload result
        shell: bash -l {0}
        run: make -C $YSYX_HOME/am-kernels/benchmarks/microbench ARCH=riscv32e-ysyxsoc run mainargs="test" ARGS="-b -n"
      - name: Show coremark riscv32-ysyxsoc payload result
        shell: bash -l {0}
        run: make -C $YSYX_HOME/am-kernels/benchmarks/coremark_eembc ARCH=riscv32-ysyxsoc run ARGS="-b -n"
      - name: Show coremark riscv32e-ysyxsoc payload result
        shell: bash -l {0}
        run: make -C $YSYX_HOME/am-kernels/benchmarks/coremark_eembc ARCH=riscv32e-ysyxsoc run ARGS="-b -n"

  litex-test:
    runs-on: ubuntu-latest
    env:
      YSYX_HOME: ${{ github.workspace  }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup envirement
        shell: bash -l {0}
        run: ./setup.sh
      - name: prepare litex
        shell: bash -l {0}
        run: cd fpga/litex && ./setup.sh
      - name: patch litex
        shell: bash -l {0}
        run: cd $YSYX_HOME/third_party/ && sed -i.bak 's/^#define PRINTF_LEVEL PRINTF_STD$/#define PRINTF_LEVEL PRINTF_FLT/' enjoy-digital/pythondata-software-picolibc/pythondata_software_picolibc/data/newlib/libc/tinystdio/vfiprintf.c
      - name: run litex
        shell: bash -l {0}
        run: cd fpga/litex && source ./venv/bin/activate && timeout 180s make run_ni || true
      - name: coremark
        shell: bash -l {0}
        run: cd fpga/litex && source ./venv/bin/activate && pushd $YSYX_HOME/third_party/enjoy-digital/litex && litex_bare_metal_demo --build-path=build/sim/ && popd && timeout 300s make coremark || true

  nemu-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup envirement
        run: ./setup.sh
      - name: Build OpenSBI
        run: make -C third_party/riscv-software-src/opensbi PLATFORM_RISCV_ISA=rv32imac_zicntr_zicsr_zifencei CROSS_COMPILE=riscv64-linux-gnu- PLATFORM_RISCV_XLEN=32 PLATFORM=generic -j`nproc`
      - name: Build NEMU
        run: make -C nemu riscv32_linux_defconfig && make -C nemu
        env:
          NEMU_HOME: ${{ github.workspace  }}/nemu
      - name: Test OpenSBI
        run: timeout 1440s make -C nemu run IMG=../third_party/riscv-software-src/opensbi/build/platform/generic/firmware/fw_payload.bin ARGS="-b -m 10000000 --log ./build/nemu-log.txt" NEMU_HOME=${{ github.workspace  }}/nemu
      - name: Get Linux binary (OpenSBI)
        shell: bash -l {0}
        run: wget https://github.com/user-attachments/files/23468431/linux-6.12.57.zip && unzip linux-6.12.57.zip
      - name: Boot Linux
        shell: bash -l {0}
        run: timeout 1800s make -C nemu run IMG=../linux-6.12.57/fw_payload.bin ARGS="-b -m 20000000 --log ./build/nemu-log.txt" NEMU_HOME=${{ github.workspace  }}/nemu
